In [1]:
%pip install -r requirements.txt

Requirement already satisfied: pandas==2.1.1 in c:\users\igor\desktop\dis_dz2\.venv\lib\site-packages (from -r requirements.txt (line 1)) (2.1.1)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pymongo==4.5.0 in c:\users\igor\desktop\dis_dz2\.venv\lib\site-packages (from -r requirements.txt (line 2)) (4.5.0)
Requirement already satisfied: psycopg2-binary==2.9.9 in c:\users\igor\desktop\dis_dz2\.venv\lib\site-packages (from -r requirements.txt (line 3)) (2.9.9)
Requirement already satisfied: neo4j==5.13.0 in c:\users\igor\desktop\dis_dz2\.venv\lib\site-packages (from -r requirements.txt (line 4)) (5.13.0)
Requirement already satisfied: faker==19.6.2 in c:\users\igor\desktop\dis_dz2\.venv\lib\site-packages (from -r requirements.txt (line 5)) (19.6.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\igor\desktop\dis_dz2\.venv\lib\site-packages (from pandas==2.1.1->-r requirements.txt (line 1)) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\igor\desktop\dis_dz2\.venv\lib\site-packages (from pandas==2.1.1->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\igor\desktop\dis_dz2\.venv\lib\site-packages (from pandas==2.1.1->-r requirements.txt (line 1)) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\igor\desktop\dis_dz2\.venv\lib\site-packages (from pandas==2.1.1->-r requirements.txt (line 1)) (2023.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\igor\desktop\dis_dz2\.venv\lib\site-packages (from pymongo==4.5.0->-r requirements.txt (line 2)) (2.4.2)
Requirement already satisfied: six>=1.5 in c:\users\igor\desktop\dis_dz2\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.1.1->-r requirements.txt (line 1)) (1.16.0)

In [5]:
import pandas as pd

import psycopg2

from pymongo import MongoClient
from pprint import pprint

from neo4j import GraphDatabase, RoutingControl

import faker

import time
import random

from collections import defaultdict

In [3]:
def generate_data(N:int) -> pd.DataFrame:
    """Generate five dataframes with N rows"""

    fake = faker.Faker()
    users = []
    cities = []
    resumes = []
    companies = []
    resume_company = []

    print("Generating users ...")
    for id in range(10):
        users.append({
            "id": id,
            "login": fake.user_name(),
            "password": fake.password(),
        })
    
    print("Generating cities ...")
    cities.append({
        "id": 0,
        "name": "Rivne"
    })
    for id in range(1, int(N/10)):
        cities.append({
            "id": id,
            "name": fake.city()
        })

    print("Generating resumes ...")
    for id in range(N):
        resumes.append({
            "id": id,
            "name": fake.name(),
            "email": fake.email(),
            "phone": fake.phone_number(),
            "city_id": random.choice(cities)['id'],
            "education": fake.random_element(elements=("High School", "Bachelor", "Master", "PhD")),
            "hobby": fake.random_element(elements=("sport", "reading", "music", "drawing")),
            "experience": fake.job()
        })
    
    print("Generating companies ...")
    for id in range(N):
        companies.append({
            "id": id,
            "name": fake.company()
        })
    
    print("Generating connection between companies and resumes ...")
    for id in range(10*N):
        r_c = {
            "id": id,
            "resume_id": random.choice(resumes)['id'],
            "company_id": random.choice(companies)['id']
        }
        if r_c not in resume_company:
            resume_company.append(r_c)

    users, cities, resumes, companies, resume_company = pd.DataFrame(users), pd.DataFrame(cities), pd.DataFrame(resumes), pd.DataFrame(companies), pd.DataFrame(resume_company)
    return {"users": users, "cities": cities, "resumes": resumes, "companies": companies, "resume_company": resume_company}

# Generating data
start = time.time()
tables = generate_data(5000)
end = time.time()
print(f"Time: {end - start}")

Generating users ...
Generating cities ...
Generating resumes ...
Generating companies ...
Generating connection between companies and resumes ...
Time: 76.29869651794434

In [46]:
def create_table_query(name:str, df:pd.DataFrame) -> str:
    query = f"CREATE TABLE IF NOT EXISTS {name} (\n"
    for column in df.columns:
        if column == "id":
            query += f"\t{column} serial PRIMARY KEY,\n"
        elif "id" in column:
            query += f"\t{column} serial REFERENCES {column[:-4] + 'ies' if column[:-3][-1] == 'y' else column[:-3]+'s'},\n"
        else:
            query += f"\t{column} VARCHAR,\n"
    query = query[:-2] + "\n);"
    return query

def insert_query(table:str, df:pd.DataFrame) -> str:
    query = f"INSERT INTO {table} ("
    for column in df.columns:
        query+=column + ", "
    query = query[:-2] + ") VALUES\n"
    for id in df.index:
        query += "("
        for column in df.columns:
            if "id" in column:
                query += str(df[column][id]) + ", "
            else:
                query += "'" + df[column][id].replace("'", "") + "', "
        query = query[:-2] + "),\n"
    query = query[:-2]+";"
    return query

# Creating and filling tables in Postgresql
start = time.time()
conn = psycopg2.connect("dbname=hr_system user=admin password=admin port=5432")
with conn.cursor() as cur:
    for table in tables:
        cur.execute(create_table_query(table, tables[table]))
        cur.execute(insert_query(table, tables[table]))
end = time.time()
print(f"Time: {end - start}")

Time: 18.812623500823975

In [47]:
postgres_queries = [
    "SELECT * FROM resumes",
    "SELECT hobby FROM resumes",
    "SELECT DISTINCT c.name FROM resumes AS r LEFT JOIN cities AS c ON r.city_id = c.id",
    "SELECT r.hobby FROM resumes AS r LEFT JOIN cities AS c ON r.city_id = c.id WHERE c.name = 'Rivne'",
    "SELECT c.name, string_agg(r.name, ', ') FROM resumes AS r RIGHT JOIN resume_company AS rc ON r.id = rc.resume_id LEFT JOIN companies AS c ON rc.company_id = c.id GROUP BY c.name"
]

# Executing queries
for query in postgres_queries:
    start = time.time()
    with conn.cursor() as cur:
        cur.execute(query)
        dt = cur.fetchall()
        print(query)
        print(f"Fetched rows: {len(dt)}")
        print(f"Five first rows:")
        for row in dt[:5]:
            print(row)
    end = time.time()
    print(f"Time: {end - start}")
    print()

SELECT * FROM resumes
Fetched rows: 5000
Five first rows:
(0, 'Patricia Lopez', 'alexandria20@example.org', '5519708541', 186, 'Master', 'sport', 'Risk analyst')
(1, 'Brittany Byrd', 'hjones@example.net', '001-837-709-0309x10457', 366, 'High School', 'music', 'Surveyor, insurance')
(2, 'Ryan Weaver', 'angelabray@example.org', '495-292-4482x959', 366, 'Master', 'drawing', 'Publishing copy')
(3, 'Ashley Lopez', 'ycooper@example.org', '918-861-1115x34719', 375, 'Master', 'reading', 'Training and development officer')
(4, 'Desiree Kelly', 'mary36@example.com', '(620)924-6102x90415', 53, 'High School', 'sport', 'Therapist, art')
Time: 0.06300187110900879

SELECT hobby FROM resumes
Fetched rows: 5000
Five first rows:
('sport',)
('music',)
('drawing',)
('reading',)
('sport',)
Time: 0.008999109268188477

SELECT DISTINCT c.name FROM resumes AS r LEFT JOIN cities AS c ON r.city_id = c.id
Fetched rows: 487
Five first rows:
('Lambertborough',)
('West Jenniferside',)
('Nelsonberg',)
('New Christopher',)
('East Michelle',)
Time: 0.02000260353088379

SELECT r.hobby FROM resumes AS r LEFT JOIN cities AS c ON r.city_id = c.id WHERE c.name = 'Rivne'
Fetched rows: 13
Five first rows:
('music',)
('music',)
('sport',)
('music',)
('sport',)
Time: 0.021999120712280273

SELECT c.name, string_agg(r.name, ', ') FROM resumes AS r RIGHT JOIN resume_company AS rc ON r.id = rc.resume_id LEFT JOIN companies AS c ON rc.company_id = c.id GROUP BY c.name
Fetched rows: 4588
Five first rows:
('Woods, Spence and Smith', 'Lisa Fisher, Lori Johnson, Kimberly Gardner, Amy Peterson, Barbara Adams, Kevin Smith, Melody Smith, Maurice Bates, Jeff Lynch, Julie Johnson, Hayley Dalton, Shawn Brewer, Jesus Merritt')
('Sanders, Shields and Bautista', 'Andrew Cuevas, Daniel Lopez, Chris Hardy, Robert Wilson, Danielle Booker, Mercedes Carter, Alexander Williams, Robert Green, Austin Elliott, Mary Atkins, Tabitha Wise')
('Martinez, Jordan and Ellis', 'Kristine Castro, Jeremy Lucas, Mr. Danny Ellis, Robert Brown, Kevin Bonilla, John Jackson, Jennifer Miller, Jason Guerrero DDS')
('Cruz PLC', 'Kristina Hines, Mrs. Natalie Howell, Candace Hawkins, Misty Maxwell, Charlotte Davis, Eric Garrett, Kayla White, Christina Lewis, Donna Crawford MD, Gregory Reese, Thomas Salinas, Megan Taylor, Barbara Hicks, Austin Elliott, Gregg Beasley, Jacqueline Jones, Paul White, Todd Johnston, Donna Mcdonald, Christine Rivers, Jessica Smith, Vanessa Perez, Karen Burke, Theresa Hicks, Andrew Roberts')
('Meyer-Smith', 'Julian Ray, Jason Moran, Lisa Fisher, Albert Cox, Sarah Johnson, John Massey, Cody Mcdonald, Angela James, Caitlin Blackburn')
Time: 0.6539733409881592

In [48]:
# Disconecting from Postgresql
conn.close()

In [49]:
# Creating and filling tables in Mongodb

def to_mongo(tables:dict):
    new_resumes = []
    for i in tables['resumes'].index:
        new_resumes.append({
            'name': tables['resumes']['name'][i],
            'email': tables['resumes']['email'][i],
            'phone': tables['resumes']['phone'][i],
            'city': tables['cities'][tables['cities']['id'] == tables['resumes']['city_id'][i]]['name'].iloc[0],
            'education': tables['resumes']['education'][i],
            'hobby': tables['resumes']['hobby'][i],
            'companies': [comp for comp in tables['companies'][
                tables['companies']['id'].isin(
                    tables['resume_company'][tables['resume_company']['resume_id'] == tables['resumes']['id'][i]]['company_id']
                    )]['name']]
        })
    return [("users", tables['users']), ("resumes", pd.DataFrame(new_resumes))]

start = time.time()
client = MongoClient("localhost", 27017, username="admin", password="admin")
for name, table in to_mongo(tables):
    m_table = client.hr_system[name]
    m_table.insert_many(table.to_dict("records"))
end = time.time()
print(f"Time: {end - start}")

Time: 24.645453929901123

In [50]:
# Executing queries
start = time.time()
table = [row for row in client.hr_system['resumes'].find()]
print(f"Fetched rows: {len(table)}")
print("Five first rows:")
for row in table[:5]:
    print(row)
end = time.time()
print(f"Time: {end-start}\n")

start = time.time()
table = [row for row in client.hr_system['resumes'].find({}, {"hobby": 1})]
print(f"Fetched rows: {len(table)}")
print("Five first rows:")
for row in table[:5]:
    print(row)
end = time.time()
print(f"Time: {end-start}\n")

start = time.time()
table = [row for row in client.hr_system['resumes'].find({}, {"city": 1}).distinct("city")]
print(f"Fetched rows: {len(table)}")
print("Five first rows:")
for row in table[:5]:
    print(row)
end = time.time()
print(f"Time: {end-start}\n")

start = time.time()
table = [row for row in client.hr_system['resumes'].find({"city": "Rivne"}, {"hobby": 1})]
print(f"Fetched rows: {len(table)}")
print("Five first rows:")
for row in table[:5]:
    print(row)
end = time.time()
print(f"Time: {end-start}\n")

start = time.time()
table = [row for row in client.hr_system['resumes'].find()]

comp_names = defaultdict(list)
for row in table:
    for company in row['companies']:
        comp_names[company].append(row['name'])

print(f"Fetched rows: {len(comp_names)}")
print("Five first rows:")
for i, row in enumerate(comp_names):
    print(f"{row}, {comp_names[row]}")
    if i >= 5:
        break

end = time.time()
print(f"Time: {end-start}\n")

Fetched rows: 5000
Five first rows:
{'_id': ObjectId('6534fd66bcb9137ec280b393'), 'name': 'Patricia Lopez', 'email': 'alexandria20@example.org', 'phone': '5519708541', 'city': 'Port Charlesburgh', 'education': 'Master', 'hobby': 'sport', 'companies': ['Smith, Tucker and Santos', 'Jones, Mitchell and Krause', 'Harmon-Lewis', 'Mcdonald-Rivera', 'Bailey, Thompson and Boyer']}
{'_id': ObjectId('6534fd66bcb9137ec280b394'), 'name': 'Brittany Byrd', 'email': 'hjones@example.net', 'phone': '001-837-709-0309x10457', 'city': 'Andrewland', 'education': 'High School', 'hobby': 'music', 'companies': ['Williams Group', 'Scott-Sutton', 'Hall LLC', 'Solis LLC', 'Carroll-Luna', 'Hayden Inc', 'Henderson-Roth', 'Parker, Stephenson and Ramos', 'Vang, Hayes and Wang', 'Calhoun PLC', 'Smith-Gray', 'Roach-Garcia', 'White Ltd', 'Jackson Inc', 'Smith, Johnston and Martinez', 'Ryan Ltd']}
{'_id': ObjectId('6534fd66bcb9137ec280b395'), 'name': 'Ryan Weaver', 'email': 'angelabray@example.org', 'phone': '495-292-4482x959', 'city': 'Andrewland', 'education': 'Master', 'hobby': 'drawing', 'companies': ['Hall PLC', 'Green and Sons', 'Velez, Elliott and Johnson', 'Torres LLC', 'Garner, Moore and Brooks', 'Long and Sons', 'Guerra Group', 'Brown-Thomas', 'Mckay and Sons', 'Andersen-Kim', 'Brooks, Bentley and Curry']}
{'_id': ObjectId('6534fd66bcb9137ec280b396'), 'name': 'Ashley Lopez', 'email': 'ycooper@example.org', 'phone': '918-861-1115x34719', 'city': 'Andersonton', 'education': 'Master', 'hobby': 'reading', 'companies': ['Marsh-Baker', 'Byrd, Obrien and White', 'Lawrence Ltd', 'Moss, Robinson and Ellis', 'Webb-Warner', 'Johnson-Hays', 'Stanley, Hayes and Lee', 'Medina-Walters']}
{'_id': ObjectId('6534fd66bcb9137ec280b397'), 'name': 'Desiree Kelly', 'email': 'mary36@example.com', 'phone': '(620)924-6102x90415', 'city': 'West Raymondborough', 'education': 'High School', 'hobby': 'sport', 'companies': ['Brooks, Arnold and Miller', 'Hawkins, Sanchez and Thompson', 'Wong Ltd', 'Powell, Harmon and Sampson', 'Simpson-Kim', 'Burton-Murray', 'Terry-Curtis', 'Dominguez-Wright', 'Washington, Scott and Bray', 'Rice-Kennedy', 'Shepherd PLC', 'Benitez Ltd', 'Cox, Diaz and Barrera', 'Rhodes-Callahan', 'Scott-Miller', 'Marquez, Brooks and Reed', 'Hart-Salinas']}
Time: 0.24887943267822266

Fetched rows: 5000
Five first rows:
{'_id': ObjectId('6534fd66bcb9137ec280b393'), 'hobby': 'sport'}
{'_id': ObjectId('6534fd66bcb9137ec280b394'), 'hobby': 'music'}
{'_id': ObjectId('6534fd66bcb9137ec280b395'), 'hobby': 'drawing'}
{'_id': ObjectId('6534fd66bcb9137ec280b396'), 'hobby': 'reading'}
{'_id': ObjectId('6534fd66bcb9137ec280b397'), 'hobby': 'sport'}
Time: 0.06527996063232422

Fetched rows: 487
Five first rows:
Aaronside
Acostaburgh
Acostafurt
Adamsview
Allenmouth
Time: 0.0244140625

Fetched rows: 13
Five first rows:
{'_id': ObjectId('6534fd66bcb9137ec280b606'), 'hobby': 'music'}
{'_id': ObjectId('6534fd66bcb9137ec280b675'), 'hobby': 'music'}
{'_id': ObjectId('6534fd66bcb9137ec280b698'), 'hobby': 'sport'}
{'_id': ObjectId('6534fd66bcb9137ec280b741'), 'hobby': 'music'}
{'_id': ObjectId('6534fd66bcb9137ec280b79b'), 'hobby': 'sport'}
Time: 0.028354406356811523

Fetched rows: 4588
Five first rows:
Smith, Tucker and Santos, ['Patricia Lopez', 'Stephen Howard', 'Sierra Watkins', 'Christian Ellis', 'Pamela Whitaker', 'Elizabeth White', 'Joshua Jones', 'Tyler Turner', 'Henry Nelson']
Jones, Mitchell and Krause, ['Patricia Lopez', 'Lindsey Adams', 'Alyssa Anderson', 'Gene Johnson', 'Mark Oneill', 'Brenda Bryant', 'Patricia Dudley', 'Jessica Mercado', 'Paul Green', 'Ricky Nunez', 'Heidi Mullen', 'Andrea Faulkner', 'Gary Hernandez']
Harmon-Lewis, ['Patricia Lopez', 'Tracy Griffin', 'Robert Adams', 'Michael Brooks', 'Matthew Bennett', 'Emma Ward', 'Gregory Orozco', 'Lorraine Wilson', 'Richard Brown', 'Matthew Ayers', 'Sean Fernandez', 'Rebecca James', 'Erica Johnston', 'Lauren Allen', 'Tina Abbott']
Mcdonald-Rivera, ['Patricia Lopez', 'Sarah Pruitt', 'David Lopez', 'Rachel Huynh', 'Sean Brown', 'David Wallace', 'Mr. Anthony Crawford', 'Holly Martinez', 'Brittany Fletcher MD', 'Charlotte Banks', 'Shane Hall', 'Jay Stevenson', 'Kara Hill']
Bailey, Thompson and Boyer, ['Patricia Lopez', 'Erik Craig', 'Anthony Wang', 'Jeremy Cruz', 'Christine Davis', 'Christopher Johnson']
Williams Group, ['Brittany Byrd', 'Jason Moore', 'Mrs. Denise Lynn', 'Brittany Williams', 'Elizabeth Martinez', 'Gregory Blackburn', 'Mark Brewer', 'Tyler Barton', 'Ronald Howard', 'Brittany Torres', 'Aaron Daniel', 'Mrs. Megan Lopez', 'Mitchell Miller', 'Diane Brady', 'Michael Miller', 'Victoria Miller', 'Theresa Hicks', 'Jamie Bowen', 'Jaclyn Hoover', 'Barbara Graves', 'Andrew Bailey MD', 'Gregory Williams', 'Ronald Ruiz', 'Travis Duncan', 'Matthew Andrews', 'Debbie Brooks', 'John Hartman', 'Phillip Mitchell', 'Mark Adams', 'Ronnie Smith', 'Beverly Anderson', 'Adam Bell', 'Benjamin Wright', 'Bradley Alvarez', 'Ryan Shaw', 'Dwayne Robinson', 'Steve Sellers', 'Gregory Phillips', 'Tammy Meyer', 'Matthew Russell', 'Thomas Rice', 'Kathryn Alexander', 'Seth Walsh']
Time: 0.29238033294677734

In [51]:
# Disconecting from Mongodb
client.close()

In [4]:
# Creating and filling tables in Neo4j
start = time.time()
driver = GraphDatabase.driver("bolt://localhost:7687", auth=("neo4j", "strongpassword"))

print("Creating users ...")
for user in tables['users'].to_dict("records"):
    driver.execute_query(
        "CREATE (user:User {id: $id, login: $login, password: $password})",
        id = user['id'], login = user['login'], password = user['password'], database_="neo4j",
    )
driver.execute_query(
    "CREATE INDEX user_id FOR (u:User) ON (u.id)",
    database_="neo4j",
)

print("Creating cities ...")
for city in tables['cities'].to_dict("records"):
    driver.execute_query(
        "CREATE (:City {id: $id, name : $name})",
        id = city['id'], name = city['name'], database_="neo4j",
    )
driver.execute_query(
    "CREATE INDEX city_id FOR (c:City) ON (c.id)",
    database_="neo4j",
)

print("Creating resumes ...")
for resume in tables['resumes'].to_dict("records"):
    driver.execute_query(
        "MATCH (city:City {id: $city_id})"
        "CREATE (:Resume {id: $id, name: $name, email: $email, phone: $phone, education: $education, hobby: $hobby, experience: $experience}) -[:LIVE_IN]-> (city)",
        city_id = resume['city_id'],
        id = resume['id'],
        name = resume['name'],
        email = resume['email'],
        phone = resume['phone'],
        education = resume['education'],
        hobby = resume['hobby'],
        experience = resume['experience'],
        database_= "neo4j",
    )
driver.execute_query(
    "CREATE INDEX resume_id FOR (r:Resume) ON (r.id)",
    database_="neo4j",
)

print("Creating companies ...")
for company in tables['companies'].to_dict("records"):
    driver.execute_query(
        "CREATE (:Company {id: $id, name: $name})",
        id = company['id'], name = company['name'], database_= "neo4j",
    )
driver.execute_query(
    "CREATE INDEX company_id FOR (c:Company) ON (c.id)",
    database_="neo4j",
)

print("Connecting resumes and companies ...")
for r_c in tables['resume_company'].to_dict("records"):
    driver.execute_query(
        "MATCH (r:Resume {id: $resume_id})"
        "MATCH (c:Company {id: $company_id})"
        "CREATE (r) -[:WORKED_IN]-> (c)",
        resume_id = r_c['resume_id'], company_id = r_c['company_id'], database_= "neo4j",
    )

end = time.time()
print(f"Time: {end - start}")

Time: 1236.6341898441315

In [44]:
# Executing queries

start = time.time()
nodes, _, _ = driver.execute_query(
    "MATCH (r:Resume) RETURN r",
    database_="neo4j", routing_=RoutingControl.READ,
)

print(f"Fetched nodes: {len(nodes)}")
print("Five first nodes:")
for resume in nodes[:5]:
    print(resume['r'].__dict__['_properties'])
end = time.time()
print(f"Time: {end - start}")

start = time.time()
nodes, _, _ = driver.execute_query(
    "MATCH (r:Resume) RETURN r.hobby",
    database_="neo4j", routing_=RoutingControl.READ,
)

print(f"Fetched nodes: {len(nodes)}")
print("Five first nodes:")
for resume in nodes[:5]:
    print(resume['r.hobby'])
end = time.time()
print(f"Time: {end - start}")

start = time.time()
nodes, _, _ = driver.execute_query(
    "MATCH (c:City) <-[:LIVE_IN]- () RETURN DISTINCT c.name",
    database_="neo4j", routing_=RoutingControl.READ,
)

print(f"Fetched nodes: {len(nodes)}")
print("Five first nodes:")
for resume in nodes[:5]:
    print(resume['c.name'])
end = time.time()
print(f"Time: {end - start}")

start = time.time()
nodes, _, _ = driver.execute_query(
    "MATCH (r:Resume) -[:LIVE_IN]-> (c:City {name: $city_name}) RETURN r.hobby",
    city_name = "Rivne", database_="neo4j", routing_=RoutingControl.READ,
)

print(f"Fetched nodes: {len(nodes)}")
print("Five first nodes:")
for resume in nodes[:5]:
    print(resume['r.hobby'])
end = time.time()
print(f"Time: {end - start}")

start = time.time()
nodes, _, _ = driver.execute_query(
    "MATCH (c:Company) <-[:WORKED_IN]- (r:Resume) RETURN c.name, collect(r.name) as names",
    database_="neo4j", routing_=RoutingControl.READ,
)

print(f"Fetched nodes: {len(nodes)}")
print("Five first nodes:")
for resume in nodes[:5]:
    print(f"{resume['c.name']}: {resume['names']}")
end = time.time()
print(f"Time: {end - start}")

Fetched nodes: 5000
Five first nodes:
{'education': 'Master', 'phone': '5519708541', 'name': 'Patricia Lopez', 'id': 0, 'experience': 'Risk analyst', 'email': 'alexandria20@example.org', 'hobby': 'sport'}
{'education': 'High School', 'phone': '001-837-709-0309x10457', 'name': 'Brittany Byrd', 'id': 1, 'experience': 'Surveyor, insurance', 'email': 'hjones@example.net', 'hobby': 'music'}
{'education': 'Master', 'phone': '495-292-4482x959', 'name': 'Ryan Weaver', 'id': 2, 'experience': 'Publishing copy', 'email': 'angelabray@example.org', 'hobby': 'drawing'}
{'education': 'Master', 'phone': '918-861-1115x34719', 'name': 'Ashley Lopez', 'id': 3, 'experience': 'Training and development officer', 'email': 'ycooper@example.org', 'hobby': 'reading'}
{'education': 'High School', 'phone': '(620)924-6102x90415', 'name': 'Desiree Kelly', 'id': 4, 'experience': 'Therapist, art', 'email': 'mary36@example.com', 'hobby': 'sport'}
Time: 1.740241527557373
Fetched nodes: 5000
Five first nodes:
sport
music
drawing
reading
sport
Time: 0.9310784339904785
Fetched nodes: 487
Five first nodes:
Rivne
Port Matthewport
Cassandraton
Vanessaside
Rosschester
Time: 0.07421422004699707
Fetched nodes: 13
Five first nodes:
sport
music
music
sport
sport
Time: 0.020424365997314453
Fetched nodes: 4588
Five first nodes:
Hanna Inc: ['Tracy Smith', 'Curtis Arroyo', 'Kathryn Meza', 'Michael Walton', 'Jason Garcia', 'Colleen Curtis', 'Thomas Kaufman', 'Jessica Moon', 'Thomas Lewis', 'Steven Harrison', 'Kelly Hancock', 'Dawn Williams']
Adams-Johnson: ['Kimberly Tucker', 'Alyssa Price', 'Kyle Marquez', 'Katherine Kelley', 'Matthew Rose', 'James Schneider', 'Robert Knight']
Simon, Coleman and Kim: ['Brandi Moore', 'Alexis Maxwell', 'Richard Moore', 'Jenna Jenkins']
Wade-Gray: ['Ryan Daniels', 'Beth Rodriguez', 'Timothy Hendrix', 'Vincent Jones', 'Mary Miles', 'Jeremy Pollard', 'Robert Schneider', 'Brandi Moore']
Reese LLC: ['Heather Martin', 'Theresa Pearson', 'Patricia Conner', 'Steven Taylor', 'Hannah Poole', 'Carl Richards', 'Sheila Scott', 'Lauren Miller']
Time: 1.1031303405761719

In [45]:
# Disconecting from Neo4j
driver.close()